* {
	box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	color: aliceblue;
	line-height: 1.6;
	background-color: #1B1E22;
}

.background-img {
	background-image: url(placeholder-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 99%;
	filter: blur(5px);
	z-index: -1;
	margin: auto;
	position: absolute;
	width: 99%;
}

.header {
	height: 100%;
	z-index: 5;
}

.header .container {
	margin: auto;
	align-items: center;
	display: flex;
	flex-direction: row;
	max-width: 1020px;
}

.header-logo img {
	max-height: 64px;
	display: inline-block;
}

.header-nav {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	list-style: none;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	align-items: flex-start;
	font-size: 1.2rem;
	height: 30px;
}

.header-nav a {
	margin-left: 4px;
	padding: 8px;
	padding-top: 8px;
	text-align: center;
	color: aliceblue;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding-top: 0;
}

.frontpage-about {
	padding-bottom: 18rem;
	padding-top: 18rem;
	max-width: 960px;
	flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
	z-index: 5;
	
}

.frontpage-about .announce {
	font-size: 2.5rem;
	text-align: center;
}

.frontpage-about .about-details {
	font-size: 1.5rem;
	text-align: center;
}